@{
    ViewData["Title"] = "Home Page";
}
<div>
    <img src="test.png" title="不存在的图片"/>
    <p>
        以上图片路径并不存在, 会自动使用默认图片替换呈现
    </p>
</div>
<div>
    <img src="ven.png" title="正常图片"/>
    <p>以上为正确加载的图片</p>
</div>